* {

    font-family: consolas;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    outline: none;

}

.creditCard .left img {

    width: 50px;

}

.creditCard p {

    color: #089CFF;

}

input {

    font-size: 1.5rem;
    
    border: none;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

body {

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background: linear-gradient(#73C1FF, white);

}

.creditCard {

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;

    border-radius: 15px;

    padding: 1rem;

    position: absolute;

    transition: 0.2s;

}

.creditCard div {

    margin: 1rem 0;

}

.creditCard .left,
.creditCard .right {

    height: 250px;

}

.creditCard .right {

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

}

.creditCard .right .cardLogo {

    display: flex;
    align-items: center;

}

.creditCard .right .cardLogo div {

    width: 50px;
    height: 50px;

    border-radius: 50%;

}

.creditCard .right .cardLogo .blockRed {

    background: #E4001A;

}

.creditCard .right .cardLogo .blockOranje {

    position: absolute;
    transform: translateX(30px);
    
    background: #EF991A;

    opacity: 0.8;

}

.creditCard .right .cardCCV input {

    width: 45px;

}

.confirmPay {

    display: flex;
    align-items: flex-end;
    justify-content: center;

    background: linear-gradient(225deg, #2196F3, #FF4EFD);

    border-radius: 15px;

    width: 580px;
    height: 314px;

    padding: 2rem;

    transition: 0.2s;

}

.confirmPay button {

    font-size: 1.5rem;

    border: none;
    
    border-radius: 15px;
    
    padding: 1rem;

    cursor: pointer;

    transition: 0.2s;

}

.confirmPay button:hover {

    background: #2196F3;
    color: white;

    text-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    
    padding: 1rem 3rem;

}

.allData:hover .creditCard {

    transform: translateY(-10px);

}

.allData:hover .confirmPay {

    height: 450px;

}
